
body{
    position: relative;
    background-image: url(imagem/plano_de_fundo_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: ruby-base;

}

.titulo{
    font-style: italic;
    color: #008B8B;
    
}


h1{ 
    text-align: center;
    font-family:Georgia 60px, 'Times New Roman', Times, serif
    color= rgb(28, 143, 76);
}

.butao{
    background-color: #008B8B; /* fundo*/
    color: rgb(149, 232, 149); 
    border: rgb(145, 137, 138); /* remove a borda padrão */
    border-radius: 2px; /* bordas arredondadas */
    box-shadow: 0 8px 16px 0 #4b635333; /* adiciona sombra */
    padding: 5px 15px; 
    vertical-align: middle; 
    border-radius:10px; 
    font-size: 12px; 
    font-family:initial, serif;
    text-decoration: underline;
    
}


li{
    text-align: center;
    font-size: 18px;
    list-style-type: none;
}




